* {
    font-family: 'Cascadia Code', 'Fire Code', monospace;
    text-decoration: none;
}

html {
    background-color: #0e0e0e;
    background-image: url(imgs/background.jpg);
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    color: black;
}

.bot {
    font-size: 0.9rem;
}

body {
    text-align: center;
    margin: 0;
}

#content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem; 
}

#content img {
    width: 30%;
    margin: 5px;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.9rem;
    text-align: center;
}