* {
    font-family: 'Cascadia Code', monospace;
    text-decoration: none;
}

html {
    background-image: url(imgs/background.jpg);
    background-size : cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
}

body {
    text-align: center;
}

#content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height:18em;
    margin-top: -6em;
    margin-left: -15em;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    text-align: center;
}