
* {
    font-family: "Roboto Slab", sans-serif;
    text-decoration: none;
}

html {
    background-color: #0e0e0e;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
}

.bot {
    color: black;
    transition-duration: 0.4s;
    font-size: 1.1rem;
}

.bot:hover {
    color: white;
    font-size: 1.9rem;
}

.discord {
    color: black;
    transition-duration: 0.5s;
    font-size: 1.7rem;
}

.discord:hover {
    color: white;
    font-size: 2rem;
}

#video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
}

#content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: #2b2b2b2d;
    backdrop-filter: blur(0.5rem);
    transition-duration: 1s;
    border: solid 1px rgba(255, 255, 255, 0);
    border-radius: 0.5rem;
}

#content:hover {
    background-color: #1d1d1d60;
    border: solid 1px rgba(255, 255, 255, 0.192)
}

#content img {
    width: 14%;
    vertical-align: middle;
    transition-duration: 0.2s;
}

#content img:hover {
    width: 17%;
}