* {
    font-family: 'Cascadia Code', monospace;
    text-decoration: none;
}

html {
    background-color: black;
    background-image: url(imgs/background.jpg);
    background-size : cover;
    background-position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}

body {
    text-align: center;
}

#content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    text-align: center;
}