@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    --text: #333333;
    --background: #F8FAFC;
    --primary: #0EA5E9;
    --highlight: #0ea4e980;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Fira Code', monospace;
}

body.dark-mode {
    --background: #333333;
    --text: #F8FAFC;
    --primary: #0EA5E9;
    --highlight: #0ea4e980;
}

.Universal__Hero {
    background: url('/assets/images/Hero_about.jpg') center/cover no-repeat;
    height: 400px;
    background-attachment: fixed;
}

.AboutMain__Wrapper div {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.AboutMain__Wrapper div.visible {
    opacity: 1;
    transform: translateY(0);
}

.AboutMain__Wrapper .AboutMain-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.AboutMain__Wrapper .AboutMain-Section:not(:last-child) {
    border-bottom: 2px solid var(--highlight);
}

.AboutMain__Wrapper .AboutMain-Section__Title {
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    font-family: 'Fira Code', monospace;
    background: linear-gradient(-30deg, var(--primary), var(--highlight));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.AboutMain__Wrapper .AboutMain-Section__Text {
    font-size: 18px;
    font-family: 'Fira Code', monospace;
    margin: 15px;
    color: var(--text);
}

.AboutMain__Wrapper .AboutMain-Section__Sub-Title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Fira Code', monospace;
    color: var(--highlight);
    font-style: italic;
}
