@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    --text: #333333;
    --background: #F8FAFC;
    --primary: #0EA5E9;
    --highlight: #0ea4e980;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Fira Code', monospace;
}

body.dark-mode {
    --background: #333333;
    --text: #F8FAFC;
    --primary: #0EA5E9;
    --highlight: #0ea4e980;
}

.EmergencyMain {
    color: #ff0000;
    margin-top: 50px;
    margin-bottom: 150px;
}


.EmergencyMain .Emergency__Title {
    font-size: 80px;
    font-weight: 600;
    border-bottom: 3px solid #ff0000;
    margin-top: 80px;
}

.EmergencyMain .Emergency__SubTitle {
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
}

.EmergencyMain .Emergency__Text {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.EmergencyMain .Emergency__SubText {
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    color: var(--text);
}

@media screen and (max-width: 100px) {
    .EmergencyMain {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}