@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    --text: #333333;
    --background: #F8FAFC;
    --primary: #0EA5E9;
    --highlight: #0ea4e980;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Fira Code', monospace;
}

body.dark-mode {
    --background: #333333;
    --text: #F8FAFC;
    --primary: #0EA5E9;
    --highlight: #0ea4e980;
}

body.dark-mode .Universal-Navbar__Theme::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/assets/icons/light.png) no-repeat center;
    background-size: contain;
}

body.dark-mode .Universal-Navbar__Logo::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/assets/icons/Logo-Dark.png) no-repeat center;
    background-size: contain;
    position: relative;
    top: 2px;
    margin: 5px;
}

body.dark-mode .Universal-Footer .Universal-Footer__Title::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/assets/icons/Logo-Dark.png) no-repeat center;
    background-size: contain;
    position: relative;
    top: 3px;
    right: 5px;
}

.Universal-Navbar {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Fira Code', monospace;
}

.Universal-Navbar__Logo::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/assets/icons/Logo-Light.png) no-repeat center;
    background-size: contain;
    position: relative;
    top: 2px;
    margin: 5px;
}

.Universal-Navbar__Brand {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: var(--text);
}

.Universal-Navbar__Brand::before {
    content: 'D';
    color: var(--primary);
    font-weight: 600;
}

.Universal-Navbar__Brand:hover::before {
    content: 'D';
    color: var(--text);
    font-weight: 600;
    transition: ease 0.5s;
}

.Universal-Navbar__Brand:hover {
    font-weight: 600;
    color: var(--primary);
    transition: ease 0.5s;
}

.Universal-Navbar__Search--Bar {
    background-color: var(--background);
    border: 1px solid var(--primary);
    color: var(--text);
    margin-left: 100px;
    margin-right: 10px;
    padding: 2px 10px;
}

.Universal-Navbar__Search--Button {
    background-color: var(--background);
    border: 1px solid var(--primary);
    color: var(--text);
    padding: 2px 10px;
}

.Universal-Navbar__Search--Button:hover {
    background-color: var(--primary);
    border: 1px solid var(--background);
    color: var(--background);
    padding: 2px 10px;
}

.Universal-Navbar__Link {
    color: var(--text);
}

.Universal-Navbar__Link:hover {
    color: var(--primary);
}

.Universal-Navbar__Link.selected {
    color: var(--primary);
}

.Universal-Navbar__Toggler {
    border: none;
    color: var(--text);
    z-index: 1;
    outline: none;
    box-shadow: none;
}

.Universal-Navbar__Toggler:focus {
    outline: none;
    box-shadow: none;
}

.Universal-Navbar__Theme {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    top: 2px;
    left: 5px;
}

.Universal-Navbar__Theme::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/assets/icons/dark.png) no-repeat center;
    background-size: contain;
}

.Universal-Navbar__Cart {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/assets/icons/cart.svg) no-repeat center;
    background-size: contain;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.Universal-Footer {
    border-top: 1px solid var(--primary);
    position: relative;
}

.Universal-Footer .Universal-Footer__ScrollTop{
    position: absolute;
    bottom: 20px;
    right: 20px;
    content: "";
    width: 30px;
    height: 30px;
    background: url(/assets/icons/scroll.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
    transition: ease 0.5s;
}

.Universal-Footer .Universal-Footer__Wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Universal-Footer .Universal-Footer__Wrapper .Universal-Footer__Seperator{
    width: 90%;
    border-top: 1px solid var(--highlight);
    margin-top: 10px;
    margin-bottom: 10px;
}

.Universal-Footer .Universal-Footer__Copyright {
    color: var(--text);
    font-size: 10px;
}

.Universal-Footer .Universal-Footer__Title {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
    cursor: default;
    font-size: 26px;
}

.Universal-Footer .Universal-Footer__Title::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/assets/icons/Logo-Light.png) no-repeat center;
    background-size: contain;
    position: relative;
    top: 3px;
    right: 5px;
}

.Universal-Footer .Universal-Footer__Title:hover {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: var(--primary);
    transition: ease 0.5s;
}

.Universal-Footer .Universal-Footer__Wrapper .Universal-Footer__Links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Universal-Footer .Universal-Footer__Wrapper .Universal-Footer__Links a:hover{
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
    transition: ease 0.5s;
}

.Index-Body .Index-Body__EmergencyBar {
    background-color: #0EA5E9;
    font-weight: bold;
}

.Index-Body .Index-Body__EmergencyBar .Index-Body__EmergencyBar--Text {
    color: #F8FAFC;
    background-color: #ff0000;
    padding: 10px;
}

.Index-Body .Index-Body__EmergencyBar .Index-Body__EmergencyBar--Text:hover {
    background-color: #0EA5E9;
    color: var(--text);
}

.Index-Body .Index-Body__EmergencyBar .Index-Body__EmergencyBar--Phone {
    padding: 10px;
    cursor: pointer;
}

.Index-Body .Index-Body__EmergencyBar .Index-Body__EmergencyBar--Phone:hover {
    color: #ff0000;
    padding: 10px;
}

.toast,
.toast-header,
.toast-body {
    color: var(--text);
    background-color: var(--background);
}

.Universal__Hero {
    position: relative;
    background: url('/assets/images/Hero_Main.webp') center/cover no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F8FAFC;
    background-attachment: fixed;
}

.Universal__Hero--Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 165, 233, 0.50);
}

.Universal__Hero--Text {
    position: relative;
    z-index: 1;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Fira Code', monospace;
}

.Universal__Hero--SubText {
    position: relative;
    z-index: 1;
    margin-top: 100px;
    color: #F8FAFC;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(14, 165, 233, 0.25);
}

.Index-Body .Main-Body .Main-Body__InfoSection {
    max-width: 100%;
    margin: auto;
}

.Index-Body .Main-Body .Main-Body__InfoSection div {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.Index-Body .Main-Body .Main-Body__InfoSection div.visible {
    opacity: 1;
    transform: translateY(0);
}

.Index-Body .Main-Body .Main-Body__InfoSection a {
    text-decoration: none;
    color: var(--primary);
    transition: ease 0.5s;
}

.Index-Body .Main-Body .Main-Body__InfoSection a:hover {
    text-decoration: none;
    color: var(--highlight);
    transition: ease 0.5s;
}

.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Text {
    font-family: 'Fira Code', monospace;
    color: var(--text);
    border-bottom: 2px solid var(--highlight);
    margin: 20px;
    padding: 60px;
}

.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Text__Title {
    color: var(--highlight);
    font-size: 36px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}


.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Text__Body {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 40px;
}


.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Card-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Card {
    background: var(--background);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    border: 1px solid var(--primary);
    color: var(--text);
    margin: 15px;
    transition: ease 0.5s;
}


.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Card:hover {
    border: 1px solid #4949494f;
    transition: ease 0.5s;
}

.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Card .Button {
    background-color: var(--background);
    border: 1px solid var(--primary);
    color: var(--text);
    padding: 10px;
    margin: 5px;
    transition: ease 0.5s;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Card .Button:hover {
    background-color: var(--primary);
    border: 1px solid var(--background);
    color: var(--background);
    transition: ease 0.5s;
}

.Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Card .Main-Body__InfoSection--Card__Photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    .Index-Body .Main-Body__Hero {
        height: 300px;
    }

    .Index-Body .Main-Body__Hero--Text {
        font-size: 40px;
    }

    .Index-Body .Main-Body__Hero--SubText {
        margin-top: 10px;
        font-size: 15px;
        width: 90%;
    }

    .Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Card {
        font-size: 13px;
    }

    .Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Text__Body {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Text__Title {
        font-size: 28px;
        padding: 10px;
    }

    .Index-Body .Main-Body .Main-Body__InfoSection .Main-Body__InfoSection--Text {
        padding: 10px;
        margin: 5px;
    }

    .Universal-Footer .Universal-Footer__SearchButton {
        transform: scale(0.8);
        position: relative;
        right: 78px;
    }

    .Universal-Navbar__Search--Bar {
        margin-left: 0px;
        width: 90%;
    }

    .Universal-Navbar__Search--Button {
        display: none;
    }

    .Universal-Navbar__Theme {
        float: right;
        margin: 5px;
    }

    .Universal-Navbar__Cart {
        display: fixed;
        bottom: 230px;
        left: 90%;
    }

    .Universal__Hero {
        height: 300px;
    }
    
    .Universal__Hero--Text {
        font-size: 40px;
    }
    
    .Universal__Hero--SubText {
        display: none;
    }
    
    .Universal-Footer .Universal-Footer__Wrapper .Universal-Footer__Links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 90%;
        justify-content: space-evenly;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }

}