@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@200&display=swap');

.Portfolio-Container {
    background-color: #282C33;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    color: #ABB2BF;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    user-select: none;

}

.Portfolio-Container p {
    cursor: default;
}

.Portfolio-Container a {
    text-decoration: none;
    outline: none;
    color: #ABB2BF;
}

.Portfolio-Main__ImageWrapper--Mobile {
    display: none;
}

/* UNIVERSAL STYLES */
#NavBar__Home {
    padding-right: 20px;
    font-size: 26px;
    white-space: nowrap;
    color: white;
}

#NavBar__Home:hover {
    color: #C778DD;
    transition: ease 0.3s;
}

#NavBar__Home::before {
    content: '';
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-image: url(/data/images/StyleHomeB4.svg);
    background-size: contain;
    margin-right: 5px;
}

.Portfolio-Footer {
    border-top: 1px solid white;
    position: relative;
    bottom: 0;
    width: 97%;
}

.Portfolio-Footer__Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Portfolio-Footer__Title {
    padding: 5px;
    padding-top: 10px;
}

#Portfolio-Footer__Copyright {
    font-size: 10px;
    text-align: center;
}

#Portfolio-Footer__Title--Head {
    transition: ease 0.3s;
}

#Portfolio-Footer__Title--Head:hover {
    color: #C778DD;
    transition: ease 0.3s;
}

#Portfolio-Footer__Title--Uni::after {
    content: 'University Academy 92';
    color: #C778DD;
    font-weight: bold;
    cursor: pointer;
}

#Portfolio-Footer__Title--Uni:hover::after {
    color: white;
}

.Portfolio-Contacts-Main {
    display: flex;
}

.Portfolio-Contacts__Text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#Portfolio-Contacts__Title {
    font-size: 36px;
    color: white;
}

#Portfolio-Contacts__Title::before {
    content: '/';
    font-size: 36px;
    color: #C778DD;
}

#Portfolio-Contacts__Text--Title {
    font-size: 24px;
    color: #e2e2e2;
    padding-top: 5px;
    padding-bottom: 25px;
}

#Portfolio-Contacts__Text--Title::after {
    content: '?';
    color: #C778DD;
}

#Portfolio-Contacts__Text--Description {
    font-size: 32px;
    color: #ABB2BF;
    padding-bottom: 25px;
}

#Portfolio-Contacts__Text--Description__Highlighted {
    color: #C778DD;
    text-transform: capitalize;
}

#Portfolio-Contacts__Text--Description__Highlighted:hover {
    color: white;
    background-color: #c778dd60;
    transition: ease 0.3s;
}

#Portfolio-Contacts__Text-Media--Title {
    font-size: 32px;
    color: #ABB2BF;
    padding-top: 5px;
    padding-bottom: 25px;
}

#Portfolio-Contacts__Text-Media--Title::before {
    content: '#';
    color: #C778DD;
    padding-right: 2px;
}

.Portfolio-Contacts__Text-Media-Icons {
    font-size: 16px;
    font-style: italic;
}

.Portfolio-Contacts__Text-Media-Icons a:hover {
    color: #C778DD;
    transition: ease 0.3s;
}

#Portfolio-Contacts__Text-Media-Icons__Github,
#Portfolio-Contacts__Text-Media-Icons__Discord,
#Portfolio-Contacts__Text-Media-Icons__LinkedIn {
    position: relative;
    vertical-align: middle;
    padding: 8px;
    padding-left: 20px;
}

.Portfolio-Contacts__Form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 10rem;
    position: relative;
    top: 100px;
}

#Portfolio-Contacts__Form--Title {
    font-size: 32px;
    color: white;
    padding-top: 5px;
    padding-bottom: 25px;
    position: relative;
    top: -100px;
}
#Portfolio-Contacts__Form--Title::before {
    content: '# ';
    font-size: 36px;
    color: #C778DD;
}

.Portfolio-Contacts__Form--Wrapper {
    display: flex;
}

#Portfolio-Contacts__Form--Name {
    width: 50%;
    padding: 5px;
    font-size: 16px;
    color: #ABB2BF;
    background-color: transparent;
    border: 1px solid #ABB2BF;
    margin-right: 10px;
    margin-bottom: 20px;
}

#Portfolio-Contacts__Form--Email {
    width: 50%;
    padding: 5px;
    font-size: 16px;
    color: #ABB2BF;
    background-color: transparent;
    border: 1px solid #ABB2BF;
    margin-bottom: 20px;
}

#Portfolio-Contacts__Form--Subject {
    padding: 5px;
    font-size: 16px;
    color: #ABB2BF;
    background-color: transparent;
    border: 1px solid #ABB2BF;
    margin-bottom: 20px;
}

#Portfolio-Contacts__Form--Message {
    padding: 8px;
    height: 130px;
    font-size: 16px;
    color: #ABB2BF;
    background-color: transparent;
    border: 1px solid #ABB2BF;
    margin-bottom: 20px;
    resize: none;
    font-size: 18px;
}

#Portfolio-Contacts__Form--Submit {
    padding: 5px;
    width: 25%;
    background-color: transparent;
    font-size: 18px;
    color: white;
    border: 1px solid #c778dd;
    margin-bottom: 20px;
    cursor: pointer;
    transition: ease 0.3s;
}

#Portfolio-Contacts__Form--Submit:hover {
    background-color: #c778dd3c;
    box-shadow: 0 5px 5px 2px #0000004a;
}

#Portfolio-Contacts__Form--Newsletter {
    padding: 5px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #c778dd3c;
    font-size: 18px;
    color: white;
    border: 1px solid #c778dd;
    margin-bottom: 10px;
    cursor: pointer;
    transition: ease 0.3s;
}

#Portfolio-Contacts__Form--Newsletter:hover {
    background-color: #c778dd73;
    box-shadow: 0 5px 5px 2px #0000004a;
}

/* MOBILE DEVICES */
@media (max-width: 1050px) {
    .NavBar-Container a:not(:first-child) {display: none;}
    .NavBar-Container a.NavBar-Container__Mobile {
      float: right;
      display: block;
    }
    .NavBar-Container.mobile {position: relative;}
    .NavBar-Container.mobile a.NavBar-Container__Mobile {
        position: absolute;
        right: 0;
        top: 0;
    }
    .NavBar-Container.mobile a {
        float: none;
        display: block;
        text-align: left;
    }
    .NavBar-Container.mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #282c33df;
        z-index: 100;
    }
    .NavBar-Container.mobile a {
        display: block;
        text-align: left;
        padding: 20px;
        font-size: 30px;
    }

    
    .NavBar-Container a:hover {
        color: #C778DD;
        transform: scale(1.05);
        transition: ease 0.3s;
    }
    
    .NavBar-Container a::before {
        content: '#';
        color: #C778DD;
        font-size: 29px;
        padding-right: 2px;
    }

    .NavBar-Container a:hover::before {
        content: '>';
        color: #ABB2BF;
        transition: ease 0.3s;
    }
    
    .NavBar-Container a.active::before {
        content: '/';
        color: #ffffff;
        transition: ease 0.3s;
    }
    
    .NavBar-Container a.active {
        color: #ffffff;
        transition: ease 0.3s;
    }

    .Portfolio-Footer {
        border-top: 1px solid white;
        font-size: 16px;
        position: relative;
        margin-top: 100px;
    }
    
    .Portfolio-Footer__Wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .Portfolio-Footer__Title {
        padding: 3px;
        padding-top: 7px;
    }
    
    #Portfolio-Footer__Copyright {
        font-size: 7px;
        text-align: center;
    }

    .Portfolio-Footer__Media {
        display: none;
    }
    
    #Portfolio-Footer__Title--Uni::after {
        content: 'UA92';
        color: #C778DD;
    }

    #Portfolio-Contacts__Text-Media--Title {
        font-size: 24px;
        color: #ABB2BF;
        padding: 10px 0;
    }

    .Portfolio-Contacts__Text-Media-Icons {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
    }
    
    .Portfolio-Contacts__Text-Media-Icons a {
        flex: 1;
        text-align: center;
        padding: 10px;
        font-size: 16px;
    }
    
    .Portfolio-Contacts__Text-Media-Icons a:hover {
        color: #C778DD;
        transition: ease 0.3s;
        transform: scale(1.1);
    }

    .Portfolio-Contacts-Main {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .Portfolio-Contacts__Form {
        width: 100%;
        margin: 20px 0;
    }
    
    #Portfolio-Contacts__Form--Title {
        font-size: 24px;
        padding: 15px 0;
        text-align: center;
    }
    
    .Portfolio-Contacts__Form--Wrapper {
        flex-direction: column;
    }
    
    #Portfolio-Contacts__Form--Name,
    #Portfolio-Contacts__Form--Email {
        width: 100%;
        margin: 10px 0;
        padding: 12px;
        font-size: 16px;
    }
    
    #Portfolio-Contacts__Form--Subject,
    #Portfolio-Contacts__Form--Message {
        width: 100%;
        margin: 10px 0;
        padding: 12px;
        font-size: 16px;
    }
    
    #Portfolio-Contacts__Form--Message {
        height: 150px;
    }

    .Portfolio-Contacts__Text {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    
}


/* FULL SCREEN */
@media (min-width: 1051px) {

    .NavBar-Wrapper{
        display: flex;
    }

    .NavBar-Container a{
        font-size: 27px;
        padding-right: 20px;
    }
    
    .NavBar-Container a:hover {
        color: #C778DD;
        transform: scale(1.05);
        transition: ease 0.3s;
    }
    
    .NavBar-Container a::before {
        content: '#';
        color: #C778DD;
        font-size: 29px;
        padding-right: 2px;
    }

    .NavBar-Container a:hover::before {
        content: '>';
        color: #ABB2BF;
        transition: ease 0.3s;
    }
    
    .NavBar-Container a.active::before {
        content: '/';
        color: #C778DD;
        transition: ease 0.3s;
    }
    
    .NavBar-Container a.active {
        color: #ffffff;
        transition: ease 0.3s;
    }

    .NavBar-Container .NavBar-Container__Mobile {
        display: none;
    }
    


}