@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@200&display=swap');

.Portfolio-Container {
    background-color: #282C33;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    color: #ABB2BF;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    user-select: none;

}

.Portfolio-Container p {
    cursor: default;
}

.Portfolio-Container a {
    text-decoration: none;
    outline: none;
    color: #ABB2BF;
}

.Portfolio-Main__ImageWrapper--Mobile {
    display: none;
}

/* UNIVERSAL STYLES */
#NavBar__Home {
    padding-right: 20px;
    font-size: 26px;
    white-space: nowrap;
    color: white;
}

#NavBar__Home:hover {
    color: #C778DD;
    transition: ease 0.3s;
}

#NavBar__Home::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/data/images/StyleHomeB4.svg);
    background-size: contain;
    margin-right: 5px;
}

.Portfolio-Footer {
    border-top: 1px solid white;
}

.Portfolio-Footer__Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Portfolio-Footer__Title {
    padding: 5px;
    padding-top: 10px;
}

#Portfolio-Footer__Copyright {
    font-size: 10px;
    text-align: center;
}

#Portfolio-Footer__Title--Head {
    transition: ease 0.3s;
}

#Portfolio-Footer__Title--Head:hover {
    color: #C778DD;
    transition: ease 0.3s;
}

#Portfolio-Footer__Title--Uni::after {
    content: 'University Academy 92';
    color: #C778DD;
    font-weight: bold;
}

#AboutMe-Main__Title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 5px;
    padding-top: 20px;
}

#AboutMe-Main__Title::before {
    content: '/';
    font-size: 30px;
    color: #C778DD;
}

#AboutMe-Main__SubTitle {
    font-size: 24px;
    color: #e2e2e2;
    padding-top: 10px;
    padding-bottom: 50px;
}

#AboutMe-Main__SubTitle::after {
    content: '?';
    color: #C778DD;
}

.AboutMe-Text {
    width: 50%;
    line-height: 180%;
}

#AboutMe-Text__UA92 {
    color: #C778DD;
    font-weight: bold;
}

.AboutMe-Main__Image {
    position: absolute;
    height: 800px;
    top: 50px;
    right: 200px;
}

.AboutMe-Main__SkillsTitle {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 5px;
    padding-top: 20px;
}

.AboutMe-Main__SkillsTitle::before {
    content: '# ';
    font-size: 30px;
    color: #C778DD;
}

.AboutMe-Main__Skills {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    padding-bottom: 20px;
    align-items: center;
    width: 50%;
}

.AboutMe-Main__Skills--Languages,
.AboutMe-Main__Skills--Tools,
.AboutMe-Main__Skills--DB,
.AboutMe-Main__Skills--Frameworks {
    border: 1px solid white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: fit-content;
    height: 125px;
    position: relative;
    margin: 10px;
    display: inline-block;
}

.AboutMe-Main__Skills--Languages:hover,
.AboutMe-Main__Skills--Tools:hover,
.AboutMe-Main__Skills--DB:hover,
.AboutMe-Main__Skills--Frameworks:hover {
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
}

#AboutMe-Main__Skills--Languages--Title__Main ul,
#AboutMe-Main__Skills--Tools--Title__Main ul,
#AboutMe-Main__Skills--DB--Title__Main ul,
#AboutMe-Main__Skills--Frameworks--Title__Main ul {
    list-style-type: '|';
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

#AboutMe-Main__Skills--Languages--Title__Head,
#AboutMe-Main__Skills--Tools--Title__Head,
#AboutMe-Main__Skills--DB--Title__Head,
#AboutMe-Main__Skills--Frameworks--Title__Head {
    color: #C778DD;
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: 20px;
}

#AboutMe-Main__Facts--Title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 5px;
    padding-top: 20px;
}

#AboutMe-Main__Facts--Title::before {
    content: '# ';
    font-size: 30px;
    color: #C778DD;
}

.AboutMe-Main__Facts--Facts {
    display: flex;
    font-size: 18px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.AboutMe-Main__Facts--Facts ul {
    list-style-type: none;
}

.AboutMe-Main__Facts--Facts li {
    display: inline-block;
    border: 1px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: fit-content;
    padding: 4px;
    margin: 10px;
}

/* MOBILE DEVICES */
@media (max-width: 1050px) {
    .NavBar-Container a:not(:first-child) {
        display: none;
    }

    .NavBar-Container a.NavBar-Container__Mobile {
        float: right;
        display: block;
    }

    .NavBar-Container.mobile {
        position: relative;
    }

    .NavBar-Container.mobile a.NavBar-Container__Mobile {
        position: absolute;
        right: 0;
        top: 0;
    }

    .NavBar-Container.mobile a {
        float: none;
        display: block;
        text-align: left;
    }

    .NavBar-Container.mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #282c33df;
        z-index: 100;
    }

    .NavBar-Container.mobile a {
        display: block;
        text-align: left;
        padding: 20px;
        font-size: 30px;
    }


    .NavBar-Container a:hover {
        color: #C778DD;
        transform: scale(1.05);
        transition: ease 0.3s;
    }

    .NavBar-Container a::before {
        content: '#';
        color: #C778DD;
        font-size: 29px;
        padding-right: 2px;
    }

    .NavBar-Container a:hover::before {
        content: '>';
        color: #ABB2BF;
        transition: ease 0.3s;
    }

    .NavBar-Container a.active::before {
        content: '/';
        color: #ffffff;
        transition: ease 0.3s;
    }

    .NavBar-Container a.active {
        color: #ffffff;
        transition: ease 0.3s;
    }

    .Portfolio-Footer {
        border-top: 1px solid white;
        font-size: 16px;
        position: relative;
    }

    .Portfolio-Footer__Wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Portfolio-Footer__Title {
        padding: 3px;
        padding-top: 7px;
    }

    #Portfolio-Footer__Copyright {
        font-size: 7px;
        text-align: center;
    }

    .Portfolio-Footer__Media {
        display: none;
    }

    #Portfolio-Footer__Title--Uni::after {
        content: 'UA92';
        color: #C778DD;
    }

    #AboutMe-Main__Title {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
    }

    #AboutMe-Main__Title::before {
        content: '/';
        font-size: 25px;
        color: #C778DD;
    }

    #AboutMe-Main__SubTitle {
        font-size: 20px;
        color: #e2e2e2;
        padding-top: 5px;
        padding-bottom: 25px;
    }

    #AboutMe-Main__SubTitle::after {
        content: '?';
        color: #C778DD;
    }

    .AboutMe-Text {
        width: 95%;
        line-height: 150%;
    }

    #AboutMe-Text__UA92 {
        color: #C778DD;
        font-weight: bold;
    }

    .AboutMe-Main__Image {
        display: none;
    }

    .AboutMe-Main__SkillsTitle {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding: 3px;
        padding-top: 10px;
    }

    .AboutMe-Main__SkillsTitle::before {
        content: '# ';
        font-size: 25px;
        color: #C778DD;
    }

    .AboutMe-Main__Skills {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .AboutMe-Main__Skills--Languages,
    .AboutMe-Main__Skills--Tools,
    .AboutMe-Main__Skills--DB,
    .AboutMe-Main__Skills--Frameworks {
        border: 1px solid white;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        width: fit-content;
        height: 125px;
        position: relative;
        margin: 10px;
        display: inline-block;
    }

    .AboutMe-Main__Skills--Languages:hover,
    .AboutMe-Main__Skills--Tools:hover,
    .AboutMe-Main__Skills--DB:hover,
    .AboutMe-Main__Skills--Frameworks:hover {
        box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
    }

    #AboutMe-Main__Skills--Languages--Title__Main ul,
    #AboutMe-Main__Skills--Tools--Title__Main ul,
    #AboutMe-Main__Skills--DB--Title__Main ul,
    #AboutMe-Main__Skills--Frameworks--Title__Main ul {
        list-style-type: '|';
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    #AboutMe-Main__Skills--Languages--Title__Head,
    #AboutMe-Main__Skills--Tools--Title__Head,
    #AboutMe-Main__Skills--DB--Title__Head,
    #AboutMe-Main__Skills--Frameworks--Title__Head {
        color: #C778DD;
        font-weight: bold;
        position: absolute;
        top: -10px;
        left: 20px;
    }

    #AboutMe-Main__Facts--Title {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding: 5px;
        padding-top: 10px;
    }

    #AboutMe-Main__Facts--Title::before {
        content: '# ';
        font-size: 25px;
        color: #C778DD;
    }

    .AboutMe-Main__Facts--Facts {
        display: flex;
        font-size: 18px;
        width: 90%;
    }

    .AboutMe-Main__Facts--Facts ul {
        list-style-type: none;
    }

    .AboutMe-Main__Facts--Facts li {
        display: inline-block;
        border: 1px solid white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        width: fit-content;
        padding: 4px;
        margin: 7.5px;
        margin-left: -20px;
    }


}


/* FULL SCREEN */
@media (min-width: 1051px) {

    .NavBar-Wrapper {
        display: flex;
    }

    .NavBar-Container a {
        font-size: 27px;
        padding-right: 20px;
    }

    .NavBar-Container a:hover {
        color: #C778DD;
        transform: scale(1.05);
        transition: ease 0.3s;
    }

    .NavBar-Container a::before {
        content: '#';
        color: #C778DD;
        font-size: 29px;
        padding-right: 2px;
    }

    .NavBar-Container a:hover::before {
        content: '>';
        color: #ABB2BF;
        transition: ease 0.3s;
    }

    .NavBar-Container a.active::before {
        content: '/';
        color: #C778DD;
        transition: ease 0.3s;
    }

    .NavBar-Container a.active {
        color: #ffffff;
        transition: ease 0.3s;
    }

    .NavBar-Container .NavBar-Container__Mobile {
        display: none;
    }



}